body {
    color:black;
    background-color:white;
    background-image:url("https://images4.alphacoders.com/810/810873.jpg");
    font-family: 'Garamond';
    font-size: 50px;
    }

div.center {
    position: absolute;
    top: 50%;
    left : 50%;
    transform: translate(-50%,-90%);
}

div#Login {
    height: 30%;
    width: 30%;
    background-color:none;
    /*box-shadow: -11px 14px 5px 0px rgba(0,0,0,0.76);*/
    border-radius: 20px;

}

div#Login h1 {
    color: white;
}

div#Login form {
    opacity: none;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

div#Login form input {
    width: 60%;
    box-shadow: -11px 14px 5px 0px rgba(0,0,0,0.76);
}

div#Login form input#connection {
    width: 40%;
}

form input {
    height: 40px;
    border-radius: 10px;
}


